<h1>Welcome!</h1>
<h2>In a game as old as time...</h2>
<h3>In the url bar type</h3>
<h3>   play/   </h3>
<h3>Player 1 choose from</h3>
<h3>rock/  paper/  scissors/</h3>
<h3>Player 2 choose from</h3>
<h3>rock/  paper/  scissors/</h3>
<h2>Hit return to find out the winner!</h2>
